<nav class="d-flex justify-content-center">
  <div class="container h-100 d-flex">
    <div
      class="d-flex flex-column header-icon-container h-100 justify-content-center"
    >
      <img
        class="header-icon"
        src="../../assets/flipkart-header-icon.png"
        alt="flipkart-header-icon"
      />
      <div class="d-flex flex-row">
        <a class="explore-text" href="/plus"
          >Explore <span class="plus-text">Plus</span
          ><img width="10" src="../../assets/flipkart-plus.png"
        /></a>
      </div>
    </div>
    <div style="width: 590px; align-self: center">
      <div class="search-container d-flex">
        <input
          class="search-input"
          type="text"
          title="Search for products, brands and more"
          name="q"
          autocomplete="off"
          placeholder="Search for products, brands and more"
          value=""
        />
        <button class="search-icon-button" type="submit">
          <img src="../../assets/search-icon.svg" alt="search-icon" />
        </button>
      </div>
    </div>
    <div class="login-button-container">
      <div>
        <div>
          <a class="login-button-container-a" href="/account/login?ret=/"
            >Login</a
          >
        </div>
      </div>
    </div>
    <div class="header-end-buttons d-flex">
      <a
        href="https://seller.flipkart.com/sell-online/?utm_source=fkwebsite&amp;utm_medium=websitedirect"
      >
        <span class="header-button-span">Become a Seller</span>
      </a>
    </div>
    <div class="header-end-buttons d-flex">
      <div class="d-flex more-arrow">
        <div class="header-button-span">More</div>
        <img class="more-arrow-img" src="../../assets/down-arrow-icon.svg" alt="down-arrow-icon" />
      </div>
    </div>
    <div class="header-end-buttons d-flex ">
      <div class="d-flex">
        <a class="d-flex cart" href="/viewcart?exploreMode=true&amp;preference=FLIPKART">
          <img style="width: 16px; height: 15.8px;" src="../../assets/cart-icon.svg" alt="cart-icon" />
          <span class="header-button-span">Cart</span>
        </a>
      </div>
    </div>
  </div>
</nav>
