.img-not-found {
  width: 450px;
  height: 323.16px;
}

p {
  font-size: 19px;
  padding-top: 10px;
  font-weight: 500;
}

.button {
    background-color: var(--primary-blue);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
    text-decoration: none;
}
