:root {
  /* Colors */
  --primary-blue: #2874f0;
  --white: #fff;
  --greyish-white: #f1f3f6;
  /* Text Colors*/
  --text-white: #f0f0f0;
  --black-text: #212121;
  --green-text: #388e3c;
  --grey-text: #878787;
  --text-yellow: #ffe500;
  --black: #000;
}

html,
body {
  background: transparent;
  height: 100%;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  scroll-behavior: smooth;
}

.form-control:focus {
  color: unset;
  background-color: #fff;
  border-color: unset;
  outline: 0;
  box-shadow: unset
}

.noselect, html, body  {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
