<div class="home-container">
  <app-header-categories></app-header-categories>
  <div class="container d-flex flex-column justify-content-center py-3">
    <app-carousel></app-carousel>
    <app-home-product-listing [productList]="productList"></app-home-product-listing>
    <app-home-product-listing [productList]="productList"></app-home-product-listing>
    <app-home-product-listing [productList]="productList"></app-home-product-listing>
    <app-home-product-listing [productList]="productList"></app-home-product-listing>
  </div>
</div>
